name: Django CI-CD Pipeline

on:
  push:
    branches: [ "main", "master", "develop" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and Start Containers
        # ضفنا السطر ده عشان يشتغل من جوه الفولدر
        working-directory: ./invoice_sys
        run: |
          docker-compose -f docker-compose.dev.yml up --build -d

      - name: Wait for services
        run: sleep 15

      - name: Run Pytest
        working-directory: ./invoice_sys
        run: |
          docker-compose -f docker-compose.dev.yml exec -T web pytest
